.sti_text textarea{border:none;border-bottom:2px solid #ec923b;height:500px;/*overflow:scroll;*/width:250px;border-top:2px solid #b4d6eb;padding:10px;font-size:14px;color:#409fcf;}
.select > p { width: 500px;float: left;}
.txt_ans {height:25px;float:left;margin: 10px;}

.img_item{border:10px solid;float:left;margin-right:10px;border-radius:5px;position: relative;}
.img_item.unselect{height:170px;width:170px;margin-top:10px;border-color:#409fcf;}
.img_item.select{height:160px;width:160px;margin-top:15px;border-color:#30789c;background-color:#5993b0;opacity: 0.6;}
.img_item img{height:100%;width:100%;}

.article{border:1px solid transparent;min-height:250px;font-size:14px;color:#409fcf;}
.gap{border:1px solid green;float:left;height:55px;margin:10px;line-height:55px;width:100px;overflow:hidden;text-align:center;}
.para{border:1px solid red;overflow:hidden;float:left;height:55px;margin:10px;line-height:55px;}

.article{line-height:50px;}
.article input{text-align:center;font-family:Arial;font-size:14px;color:#FFF;height:40px;margin:10px;background:url('../images/dragger.png') no-repeat center 10px #409fcf;min-width:100px;border:none;padding:5px;border-radius:5px;-webkit-box-shadow: 2px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 1px 2px rgba(50, 50, 50, 0.75);
box-shadow:         2px 1px 2px rgba(50, 50, 50, 0.75);}

.float_anwer img{width:30px;}