body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
input,textarea{ outline:none; }
textarea{ resize:none;}
body{font-family:Arial;}
.wrapper{border:1px solid #409fcf;margin:auto;width:1024px;height:768px;}
.common_header{height:100px;background-color:#409fcf;color:#FFF;font-weight:noraml;}
.header_ins{margin:auto;height:40px;line-height:40px;text-align:center;font-size:15px;}
.header_step{height:60px;line-height:60px;text-align:center;font-size:20px;}
.common_body{height:560px;}

.common_footer{height:80px;margin:10px;}
.footer_left{border:1px solid #409fcf ;float:left;height:58px;width:58px;background:url('../images/pre_btn.png') no-repeat #409fcf 20px 20px;border-radius:58px;cursor:pointer;}
.footer_right{border:1px solid #409fcf ;float:right;height:58px;width:58px;background:url('../images/next_btn.png') no-repeat #409fcf 25px 20px;border-radius:58px;cursor:pointer;}
.footer_bar{width:880px;float:left;height:58px;}
.footer_btn:hover{background-color: #30789c;}
.progress_bar{height:20px;margin:auto;width:300px;margin-top:20px;}
.progress_bar ul{height:20px;}
.progress_bar li{float:left;list-style:none;border:1px solid #b4d6eb;height:10px;width:50px;margin-left:5px;background-color:#b4d6eb;cursor:pointer;}
.progress_bar li:first-child{border-radius:10px 0 0 10px;}
.progress_bar li:last-child{border-radius:0 10px 10px 0;}
.progress_bar li.active_bar{background-color:#409fcf;}

.disabled{opacity: 0.5;}

/*20130801*/
.sti_audio{width:100%;height:150px;margin-top:10px;border-top:2px solid #b4d6eb;border-bottom:2px solid #b4d6eb;padding-top:10px;}
.player_area{width:100%px;height:70px;}
.play_btn{height:32px;width:32px;float:left;cursor: pointer;}
.play_btn img{height:32px;}
.control_bar{float:left;height:32px;width:230px;}
.retain .dur_time{float:left;height:32px;width:40px;line-height:32px;text-align:center;font-weight:bold;color:#4da8d7;font-size:12px;margin-left:20px;color:#FFF;text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);}
.retain .time{float:left;height:32px;width:20px;text-align:center;line-height:32px;font-weight:bold;color:#4da8d7;font-size:12px;color:#FFF;text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);}
.control_bar .progress{border:1px solid #b4d6eb;float:left;height:10px;width:190px;margin-top:12px;background-color:#b4d6eb;border-radius:10px;overflow:hidden;margin-left:20px;}
.control_bar .play_bar{border:1px solid #4da8d7;float:left;height:10px;width:10px;border-radius:12px;background-color:#4da8d7;}
.jp-seek-bar{width:190px;height:10px;}

.retain{border:1px solid #aadac4;height:32px;background-color:#aadac4;border-radius:21px;overflow: hidden;}
#slash{float:left;margin-top:5px;margin-right:10px;color:#FFF;}
.volum{width:40px;height:40px;float:right;margin-right:10px;}
.volum img{height:20px;margin-top:5px;cursor:pointer;}
.jp-mute{border: 1px solid #55b68a;text-align: center;background-color: #55b68a;width: 50px;}
.jp-unmute{border: 1px solid orange;text-align: center;background-color: orange;width: 50px;}