body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
input,textarea{ outline:none; }
textarea{ resize:none;}
body{font-family:Arial;}
.wrapper{border:1px solid #409fcf;margin:auto;width:1024px;height:768px;}
.common_header{height:100px;background-color:#409fcf;color:#FFF;font-weight:noraml;}
.header_ins{margin:auto;height:40px;line-height:40px;text-align:center;font-size:15px;}
.header_step{height:60px;line-height:60px;text-align:center;font-size:20px;}
.common_body{height:560px;}

.common_footer{height:80px;margin:10px;}
.footer_left{border:1px solid #409fcf ;float:left;height:58px;width:58px;background:url('../images/pre_btn.png') no-repeat #409fcf 20px 20px;border-radius:58px;cursor:pointer;}
.footer_right{border:1px solid #409fcf ;float:right;height:58px;width:58px;background:url('../images/next_btn.png') no-repeat #409fcf 25px 20px;border-radius:58px;cursor:pointer;}
.footer_bar{width:880px;float:left;height:58px;}
.footer_btn:hover{background-color: #30789c;}
.progress_bar{height:20px;margin:auto;width:300px;margin-top:20px;}
.progress_bar ul{height:20px;}
.progress_bar li{float:left;list-style:none;border:1px solid #b4d6eb;height:10px;width:50px;margin-left:5px;background-color:#b4d6eb;cursor:pointer;}
.progress_bar li:first-child{border-radius:10px 0 0 10px;}
.progress_bar li:last-child{border-radius:0 10px 10px 0;}
.progress_bar li.active_bar{background-color:#409fcf;}
.disabled{opacity: 0.5;}